@keyframes customBounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-15px);
    }
}

@keyframes colorCycle {
    0% { color: var(--bittersweet); }
    33% { color: var(--emerald); }
    66% { color: var(--picton-blue); }
    100% { color: var(--xanthous); }
}

@keyframes logoSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.colorAnimate {
    animation:
            customBounce 0.8s ease-in-out 2,
            logoSpin .3s linear 1.4s,
            colorCycle 5s infinite linear;
}