@keyframes bounceThenSpin {
    0%, 8%, 30% {
        transform: translateY(0);
    }
    5% {
        transform: translateY(-15px);
    }
    20% {
        transform: translateY(-18px);
    }
    18% {
        transform: translateY(0);
    }
    40% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}





.colorAnimate {
    animation:
            bounceThenSpin 2s ease-in-out infinite, var(--color-cycle-animation);
}