.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    color: var(--background);
    border-radius: 0.7rem;
    background-color: var(--plain);
    border: 1px solid #ccc;
    overflow: hidden;

}


.imageBox{
    position: relative;
    width: inherit;
    height: 250px;
    overflow: hidden;




}


.imageBox .image{
    object-fit: cover;
    transition: transform 0.3s ease-in-out;



}
.image:hover{
    transform: scale(1.2);
}

.detailsBox{
    color: var(--background);
    padding: 0.7rem 0;
    text-align: center

}
.detailsBox h2{
    font-size: 1.7rem;
    color: var(--peach-shade);
}
.detailsBox p{
    font-size: var(--font-mobile);
    text-transform: lowercase;
    color: var(--green-shade);

}
.detailsBox .breedGroup{
    color: var(--blue-shade);
    font-size: var(--font-mobile);
    cursor: pointer;
    text-decoration: underline;
    text-transform: uppercase;


}

.actionBox{
    background: var(--red-shade);
    padding: 0 0.7rem;
    border-radius: var(--border-radius);
    color: var(--plain);
    transition: 0.2s ease-in;
    margin-bottom: 1rem;
    text-transform: lowercase;
}

.actionBox:hover{
    font-size: 1.1rem;
    color: var(--red-shade);
    background-color: var(--plain);
    border: 0.1rem solid var(--red-shade);
}

