

.mobile .container{
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    margin: 0 auto;


}

.imageBox{
    border-radius: 0.7rem;
    overflow: hidden;
}

.imageBox .image{
    width: auto;
    height: auto;
    border-radius: 0.7rem;
    transition: transform 0.3s ease-in-out;
}
.imageBox .image:hover{
    transform: scale(1.2);
}

.mobile .container .detailsBox{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.mobile .container .detailsBox .col1{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--background);

}
.mobile .container .detailsBox .col1 p{
    font-size: 1.5rem;
    text-transform: capitalize;
}

.detailsBox .likeIcon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: var(--yellow-shade);
    transform: scale(1.2);
    color: var(--plain);
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    border: 0.1rem solid transparent;
    font-size: 1rem;
    padding: 0 0.7rem;


}

.detailsBox .likeIcon:hover {
    transition: background-color 0.3s ease-in, color 0.3s ease-in, border-color 0s;
    border: 0.1rem solid var(--yellow-shade);
    background: var(--plain);
    color: var(--yellow-shade);
}
.actions{
    display: flex;
    align-items: center;
    gap: 1.4rem;
    margin: 1rem 0;
}
.actions .actionLink {
    background: var(--green-shade);
    border-radius: 2rem;
    color: var(--plain);
    padding: 0.7rem;
    text-align: center;
    width: 80%;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
    border: 0.1rem solid transparent;
}
.actions .actionLink:hover {
    font-size: 1.1rem;
    color: var(--green-shade);
    background-color: var(--plain);
    border-color: var(--green-shade);
    transition: background-color 0.3s ease-in, color 0.3s ease-in, border-color 0s;
}
.detailsBox .col2{
    display: flex;
    gap: 0.3rem;
    justify-content: space-between;
    align-items: center;
}

.detailsBox .col2 div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 150px;
    height: 100px;
    text-align: center;
    border-radius: 0.7rem;
}

.detailsBox .col2 p{
    font-size: 0.6rem;
}

.weight{
    background: var(--red-shade);
}

.lifeSpan{
    background: var(--peach-shade);
}

.height{
    background: var(--blue-shade);

}

.temperament{
    color: var(--background);
    font-size: 0.8rem;
}




@media screen and (min-width: 768px ) {
    .container {
        width: 90%;
        margin: 0 auto;
    }

    .detailsBox .col2 div {
        width: 250px;
        height: 200px;
        font-size: 1.5rem;
    }

    .detailsBox .col2 p {
        font-size: 1rem;
    }

    .temperament {
        font-size: 1.2rem;
    }

    .detailsBox .likeIcon {
        width: 50px;
        height: 50px;

    }
    .actions{
        justify-content: center;
    }
}

@media screen and (min-width: 968px ){



}
