@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --plain: #ffffff;
  --bittersweet: rgba(238, 99, 82, 1);
  --emerald: rgba(89, 205, 144, 1);
  --picton-blue: rgba(63, 167, 214, 1);
  --xanthous: rgba(250, 192, 94, 1);
  --atomic-tangerine: rgba(247, 157, 132, 1);

}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
