@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --plain: #ffffff;
  --red-shade: crimson;
  --green-shade: rgba(89, 205, 144, 1);
  --blue-shade: rgba(63, 167, 214, 1);
  --yellow-shade: rgba(250, 192, 94, 1);
  --peach-shade: rgba(247, 157, 132, 1);
  --border-radius: 1.7rem;
  --color-cycle-animation: colorCycle 5s linear infinite;
}

@keyframes colorCycle {
  0% { color: var(--red-shade); }
  33% { color: var(--green-shade); }
  66% { color: var(--blue-shade); }
  100% { color: var(--yellow-shade); }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
