.container {
    display: flex;
    flex-direction: column;
    margin: 5vh auto;
    justify-content: center;
    align-items: center;
}



.container .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .desktop {
    display: none;
}




@media screen and (min-width: 968px ){
    .container .desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .mobile {
        display: none;
    }

}