.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    color: var(--plain);
}

.container h1{
    font-size: 2rem;
    font-weight: 700;
}


.container .mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .desktop {
    display: none;
}

@media screen and (max-width: 576px ){
    .container {
        margin: 4rem auto;
    }
}


@media screen and (max-width: 768px ){
    .container {

        padding: 3rem 0;
    }
}

@media screen and (min-width: 968px ){
    .container {
        margin: 0 auto;
        padding: 4rem 0;
    }
    .container h1{
        font-size: 4rem;
        font-weight: 700;
    }
    .container .desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .mobile {
        display: none;
    }

}
